section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10em;

    h2 {
        text-align: center;
        text-decoration: underline;
    }

    form {
        width: 40vw;
        .inputs {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        mat-form-field {
            width: 15vw;
            input {
                width: 100%;
            }
        }
        button {
            width: 100%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 1em;
        }
    }

    #lista-numeros-sorteados {
        max-height: 50vh;
        margin-top: 10px;
        width: 40vw;
        overflow-y: auto;
        article {
            max-width: 100%;
            border: 1px solid #000;
            padding: 8px;
            margin: 5px 0;
            text-align: center;
            word-break: break-all;
            vertical-align: middle;
    
            span {
                font-size: 1.5em;
                font-weight: bold;
                line-height: 15vh;
                letter-spacing: 10px;
            }
        }
    }
}