<section>
    <h2>Gere seu número da sorte!</h2>
    <form #sortearMega="ngForm" (ngSubmit)="pegarValores(sortearMega)" novalidate>
        <div class="inputs">
            <mat-form-field>
                <mat-label>Quantos números serão?</mat-label>
                <input
                    matInput
                    name="quantosNumeros"
                    type="number"
                    ngModel
                    #quantosNumeros="ngModel"
                    min="6"
                    max="15"
                    required>
            </mat-form-field>
            <mat-error *ngIf="quantosNumeros?.touched && quantosNumeros?.hasError">
                A quantidade de números deve ser entre 6 à 15!
            </mat-error>
            <mat-form-field>
                <mat-label>Quantos jogos serão?</mat-label>
                <input
                    matInput
                    name="quantosJogos"
                    type="number"
                    ngModel
                    #quantosJogos="ngModel"
                    min="1"
                    max="8"
                    required>
            </mat-form-field>
            <mat-error *ngIf="quantosJogos?.touched && quantosJogos?.hasError">
                A quantidade de jogos deve ser entre 1 à 8!
            </mat-error>
        </div>
        <button mat-raised-button type="submit" color="primary">Sortear</button>
    </form>

    <section id="lista-numeros-sorteados">
        <article name="numeros-sorteados" *ngFor="let num of numerosSorteados">
            <span>{{num.numeros}}</span>
        </article>
    </section>
    <aside name="historico-numeros"></aside>
</section>